@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: Poppins;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}

.active-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3498db;
  margin-right: 5px;
}

.app-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: url(/background.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  transform: translateX(0px);
}

.dis-none {
  display: none;
}