@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: Poppins;
  box-sizing: border-box
}


::-webkit-scrollbar {
  display: none;
}

.active-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3498db;
  margin-right: 5px;
}

